@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.banner {
  height: 100vh;
  width: 100%;


}

.title-main {
  margin-top: 50px;
color: whitesmoke;

}

body {
  background-color: black;
  font-family: Raleway;
}



.title-sub {
  margin-top: 50px;
color: #aa9e9e;
}

.title-about {
color: whitesmoke
}
